<div class="bg">

<span class="border border-light">
    <vg-player>

      <vg-controls>
        <vg-play-pause></vg-play-pause>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
      </vg-controls>
    
      <video 
        [vgMedia]="media"
        [src]="currentItem.url"
        id="singleVideo"
        type="video/mp4">
      </video>

    </vg-player>

</span>
  <!-- Display the clip data on the video player -->
  <h2>
    {{currentItem | json}}
  </h2>




  <div *ngFor="let item of clips; let $index = index"
      class='btn'
      (click)="onClickPlaylistItem(item, $index)"
      [class.selected]="item === currentItem">
  <span class="box">
      <div class="card box-shadow" style="width: 32rem;">
        <div class="card-body">
          <h5 class="card-title">Clip Number {{ item.clipnumber }}</h5>
          <p class="card-text">Personnel: {{ item.personnel }}</p>
          <p class="card-text">Down: {{ item.down }}</p>
          <p class="card-text">Distance: {{ item.distance }}</p>
          <a href="#" class="btn btn-primary">Go to video player</a>
        </div>
      </div>
  </span>
  </div>


<!--The content below is only a placeholder and should be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
  <!-- <iframe width="420" height="345" [src]="video | safe"> -->
  <img width="300" alt="Angular Logo" src="https://qwikbox.s3.amazonaws.com/qwikcut-store-listing-logo.png">
</div>
</div>