<!--The content below is only a placeholder and should be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
  <!-- <iframe width="420" height="345" [src]="video | safe"> -->
  <img width="300" alt="Angular Logo" src="https://qwikbox.s3.amazonaws.com/qwikcut-store-listing-logo.png">
</div>


<h2>Testing..</h2>
<!-- <div *ngFor="let item of clips">
    {{item | json}} -->
    <vg-player>
      <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
    
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
    
          <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
    
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
    
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
    
          <vg-fullscreen></vg-fullscreen>
      </vg-controls>
    
      <video #media
        [vgMedia]="media"
        [src]="currentItem.url"
        id="singleVideo"
        preload="auto"
        crossorigin>
      </video>

    </vg-player>



  <div *ngFor="let item of clips; let $index = index"
      class='btn'
      (click)="onClickPlaylistItem(item, $index)"
      [class.selected]="item === currentItem">
      {{ item.url }}
  </div>

